@charset "utf-8";
/* CSS Document */
div,p,ul,li,html,body{
	margin:0;
	padding:0;
}
.list_img{
	overflow: hidden;
}
/* 回到顶部 */
.return-top{
    width:38px;
    height:35px;
    position:fixed;
    bottom:20px;
    right:20px;
    text-align:center;
    cursor:pointer;
    display:none;
}
.return-top.active{
    display:block;
}
